!docker/volumes/mysql
docker/volumes/mysql/*
!docker/volumes/mysql/.gitkeep

!docker/volumes/redis
docker/volumes/redis/*
!docker/volumes/redis/.gitkeep

.DS_Store
.idea


src/
docker/services/web/pharmapp.robertquintero.me.pem
docker/services/web/pharmapp.robertquintero.me.key
docker/services/web/private.key
